doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{listname} List
    body 
        h1 #{listname}
        ul
            each item in items 
                li= item
        a(href=`/update/`+listname) Update  
        a(href=`/delete/`+listname) Delete 
        a(href='/') Back to menu